
#wrapper {
	margin: auto;
	width: 70%;
	border: 3px;
	padding: 10px;
	font-family: "Times New Roman", "gadget", sans-serif;
	font-size: 20px;
	background-color: #E2F8D4;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	padding: 0px;
	list-style: none;
    margin: 0px;
}

nav ul li:hover {
	background-color: dimgrey;
}

nav ul li {
	display:inline-block;
	line-height: 20px;
    text-align: center;
    width:100%;
    height: auto;
}

nav {
	text-align: center;
	background-color:  #33cc33;
    width: 100%;
    margin-left: auto;
    margin-right:auto;
}


nav ul li a {
	text-decoration: none;
	padding: 10px 40px;
	display: block;
    padding-bottom: 10px;
    color: white;
}

#subNav {
	display: none;
    height: 5em;
}

ul li:hover #subNav {
	display: block;
    position: absolute;
    height: 5em;
}

ul li ul li:hover {
    background-color:silver;  
}

ul li ul li {
    background-color: lightgreen;
    display:block;
}



main ul li {
	display: inline;
	padding-right: 5px;
}

h2 {
	color: red;
	clear:both;
	text-align: center;
}


.title {
	color: orange;
	font-weight: bold;
}

.caption {
	color: blue;
	font-weight: bold;
	margin-left: 180px;
}

.colum {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	text-align: center;
    margin-top: 5px;
}

.imgCareer {
	float: right;
	margin-left: auto;
	margin-right: auto;
}



#reason li {
    display: block;
}

form {
	padding: 2em;
}

label {
	float: left;
	display:block;
	margin-bottom: 1em;
	text-align: right;
	width: 8em;
	padding-right: 1em
}

input, textarea {
	display: block;
	margin-bottom: 1em;
}

#mySubmit {
	margin-left: 9.5em;
}

.imgCenter {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.imgNew {
	float:right;
	margin-left: 20px;
    margin-bottom: 20px;
}
.product {
    width:100%;
    height:auto;
}
footer {
	font-size: 15px;
	clear:both;
	text-align:center;
	border-top: solid 1px;
    margin-top: 10px;
}

.noClear {
    clear:none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table caption {
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}

table td, th {
    padding: 0.5em;
}

table caption {
    color: red;
}

.border {
    border-top: 2px solid red;
    padding: 5px;
}

nav ul li a#index {
    background-color:white;
    color: black;
}

nav ul li a#about {
    background-color:white;
    color: black;
}

nav ul li a#product {
    background-color:white;
    color: black;
}

nav ul li a#bag {
    background-color:white;
    color: black;
}

nav ul li a#tshirt {
    background-color:white;
    color: black;
}

nav ul li a#news {
    background-color:white;
    color: black;
}

nav ul li a#career {
    background-color:white;
    color: black;
}

p a, figure figcaption a {
    text-decoration: none;
    font-size: 18px;
}

.figcaption p {
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    
    #wrapper {
        font-size: 15px;
        width: 100%;
    }
    

    
    nav ul li {
        display:block;
        width:100%;
    }
    
    nav ul ul {
        left: 63%;
        top: 35%;
        position: relative; 
    }
    
    ul li:hover #subNav {
	   display: inline-block;
        position: absolute;
        height: 5em;
        
    }
    
    img {
        display:block;
        margin-left: auto;
        margin-right:auto;
        width:50%;
    }
    
    .imgCenter .imgNew, .colum {
        height: auto;
        margin-left: 5px;
    }
    
    .imgCareer {
        height: 250px
    }
    .imgCenter {
        width:100%;
    }
    
    #logo {
        width: 100px;
    }
    
    #abBag {
        height: 300px;
    }
}


@media (min-width:1280px)  {
    
    nav ul li a {
        padding: 10px 30px;
    }
    
    h2 {
        margin-top: 50px;
        color:darkblue;
    }
    
    .imgGroup {
        width:100%;
        margin-left:20px;
        margin-right:auto;
    }
    
    #logo {
        width:150px;
    }
    
    .product {
        width: 200px;
        height: 333px;
        margin-left:5px
    }
    
    #wrapper {
        width: 80%;
        font-size: 25px;
    }
    

    .colum {
        float:left;
        margin-left:40px;
    }

    
}